@model Partial_View_Image.Models.Product

<div>
    <h2>Product Details</h2>
    <hr />
    <table>
        <tr>
            <td colspan="2"><img src="@Url.Content(Model.photo)"width="100" height="100"</td>
        </tr>
        <tr><td>Product name:<td><b>@Model.productname</b></td></tr>
        <tr><td>Price:<td><b>@Model.unitprice</b></td></tr>
        <tr><td colspan="2"><input type="submit" value="Buy" /></td></tr>
    </table>
</div>