@model MVC_LoginForm.Models.UserProfile
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create","UserProfile",FormMethod.Post))  
{@Html.AntiForgeryToken()


      <table>
          <tr>
              <td>USerId</td>
              <td>@Html.TextBox("UserId")</td>
          </tr>
          <tr>
              <td>Username</td>
              <td>@Html.TextBox("Username")</td>
          </tr>
          <tr>
          
              <td>Password</td>
              <td>@Html.TextBox("Password")</td>
          </tr>
          <tr>
           
              <td>Status</td>
              <td>
                  @Html.DropDownList("IsActive",new List<SelectListItem>
             {
                 new SelectListItem{Text="ON",Value="ON"},
                 new SelectListItem{Text="OFF",Value="OFF"}

             },"Select IsActive",new { @class = "form-control" })
              </td>
          </tr>
          <tr>
          
              <td colspan="2" align="center"><input type="submit" value="submit" /></td>
          </tr>
      </table>
}

