@model IEnumerable<Partial_View_Image.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach(var item in Model)
            {
                @Html.Partial("_Product", item);
            }